@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.fullpage{
    background-image: url(https://wallpapercave.com/wp/pEeUsp1.jpg);
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}