@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
	background-image: url(https://wallpapercave.com/wp/pEeUsp1.jpg);
	color: #ffe81f;
    font-family: 'Bebas Neue', cursive;
}
::-webkit-scrollbar{
    display: none;
}
.titles{
	font-weight: 800;
	font-size: 3em;
}
.btn-warning{
    background: #ffe81f;
    &:hover{
		transform: translateY(-5px);
		box-shadow: none;
	}
}
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover{ 
    background: grey;
    border-radius: 100%;
}
