 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
    General Styles
*/
body{
    margin: 0;
    padding: 0;
}
.navbar{
    background: black;
}
.logo{
    width: 12rem;
}
.modal-backdrop {
    margin: 0;
    padding: 0;
  background-color: gray;
}
.part
{
background: black;
font-family: 'Roboto', sans-serif;
}
footer{
    color:  #ffe81f;
    background: black;
    font-family: 'Bebas Neue', cursive;
}
#social{
    width: 20rem;
}
.ico{
    margin: 1rem;
    color:  #ffe81f;
}
@media screen and (max-width:767px){
    .logo{
        width: 6.5rem;
    }
}